body {
  background-color: #f1f1f1;
  color: #222;
  font-size: 16px;
  cursor: url("../img/cursor.png"), auto;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
/* menu */
.menu {
  display: none;
}
/* menu */

/* header */

header {
  height: 80px;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  width: 43px;
  height: auto;
}

.header_menu {
  font-weight: 400;
  font-size: 1.8em;
  display: flex;
  align-items: center;
}

.header_menu p:first-of-type {
  margin-right: 40px;
}

.navbar {
  display: none;
}
/* header_end */

.contact_header {
  text-align: right;
  color: #666;
  font-size: 1em;
}

.contact_header p {
  margin-bottom: 4px;
}

/* header _ contact  */
/* intro start */

.intro {
  margin-top: 62px;
}

.intro p:first-of-type {
  font-size: 1.3em;
  width: 50%;
  color: #777;
  margin-bottom: 8px;
}

.intro p.eng {
  color: #999;
  width: 60%;
  font-size: 1.2em;
  font-weight: 200;
}

.intro .bold {
  font-weight: bold;
  color: #222;
}

.dot {
  margin: 100px auto 80px;
}

/* intro end */
/* portfolio_slide start */

.portfolio {
  margin-bottom: 400px;
}

.por_title {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
}
.por_title img {
  margin-left: 8px;
}

.slide_wrap {
  width: 100%;
  height: 340px;
}

.por_slide {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.slide_in {
  margin-right: 24px;
  position: absolute;
  font-size: 1.125em;
}

.thumbnail_index {
  width: 256px;
  height: 256px;
  background-color: #222;
}

.slide_in p {
  margin-top: 12px;
  padding-left: 8px;
}

/* portfolio_slide end */

.hr {
  width: 100%;
  height: 1px;
  background-color: #222;
}

/* 보유기술 start */

.start_title {
  margin-top: 80px;
  font-size: 2em;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.back_circle {
  border: 1px solid #222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.bottom_line {
  border-bottom: 1px solid #222;
}

.tech_info {
  margin: 40px auto 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tech {
  width: 25%;
  margin-right: 2%;
}

.tech h3 {
  font-size: 0.875em;
  margin-bottom: 12px;
}

.tech h2 {
  font-size: 1.375em;
  margin-bottom: 12px;
}

.tech_kr {
  margin-bottom: 24px;
  font-size: 0.875em;
}

.tech_en {
  color: #777;
  font-weight: 200;
  line-height: 1.2em;
}

/* contact us start */

.contact {
  margin-top: 80px;
}
.contact h1 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 40px;
}

.contact form {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.contact form label {
  font-size: 1.125em;
  margin-bottom: 8px;
}

.contact input[type="text"],
input[type="tel"],
textarea {
  width: 50%;
  height: 36px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #222;
  margin-bottom: 24px;
}

.contact textarea {
  width: 100%;
  height: 152px;
  resize: none;
}

.contact textarea:focus {
  outline: none;
}

.contact input[type="submit"] {
  width: 185px;
  text-align: left;
  border: none;
  background: transparent;
  background-image: url(../img/right_arrow.png);
  background-repeat: no-repeat;
  background-position: center right;
  font-size: 1.125em;
  margin: 66px 0 66px auto;
}
/* contact us end */
/* footer */

footer {
  width: 100%;
  height: 130px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 0.8em;
}

footer img {
  width: 109px;
  margin: 12px auto 24px;
}

footer p {
  margin-bottom: 4px;
}

footer .copyright {
  opacity: 0.8;
  margin-top: 12px;
}

/* 반응형 */
/* ------------------- max width 1024px ------------------*/

@media (max-width: 1024px) and (min-width: 768px) {
  .wrap {
    width: 720px;
  }
}

/* ------------------- max width 768px ------------------*/

@media (max-width: 768px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }
  .wrap {
    width: 94%;
    margin: 0 auto;
  }

  header {
    margin-bottom: 24px;
  }

  .header_menu p {
    display: none;
  }
  .navbar {
    display: flex;
    margin: 26px 0px 26px auto;
  }

  .menu {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #fff;
    z-index: 999;
    font-size: 26px;
  }

  .menu p:last-of-type {
    margin-top: 24px;
  }
  .menu img {
    display: flex;
  }

  .contact_header {
    display: none;
  }
  /* menu */
  /* intro */

  .intro {
    width: 94%;
  }
  .intro p:first-of-type {
    width: 100%;
  }

  .intro p.eng {
    width: 96%;
    margin-bottom: 80px;
  }

  .dot.wrap {
    margin-bottom: 80px;
  }

  /* 보유기술 */
  .tech_info {
    display: flex;
    flex-direction: column;
  }

  .tech {
    width: 50%;
    margin-top: 40px;
  }
  .tech:first-of-type {
    margin-top: 80px;
  }
  .tech:nth-child(2n) {
    text-align: right;
    margin-left: auto;
  }
  .tech:last-of-type {
    margin-bottom: 80px;
  }

  /* contact us */
  .contact {
    margin-top: 80px;
  }
  .contact form {
    margin-left: 0;
  }
  .contact input[type="text"],
  input[type="tel"],
  textarea {
    width: 100%;
  }
}

/* mouse cursor */

/* .cursor {
  position: fixed;
  z-index: 100;
  background: linear-gradient(
    to bottom right,
    rgba(255, 121, 49, 0.5),
    rgba(216, 197, 255, 0.5)
  );
  width: 18px;
  height: 18px;
  border-radius: 50%;
  pointer-events: none;
} */
